.app {
    background-color: var(--primary-color);
    font-family: var(--font-base);
  }
  
  .app__container {
    width: 100%;
    min-height: 100vh;

    min-height: calc(100vh - 150px);
  }
  
  .app__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }