.product {
    width: 300px;
    padding: 1rem;
    background-color: var(--white-color);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    margin:8px auto;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 1250px){
        width: 360px;
    }

    @media (max-width: 1115px){
        width: 330px;
    }

    @media (max-width: 1028px){
        width: 300px;
    }

    @media (max-width: 950px){
        width: 400px;
    }

    @media (max-width: 830px){
        width: 350px;
    }

    @media (max-width: 700px){
        width: 290px;
    }

    @media (max-width: 630px){
        width: 450px;
    }

    @media (max-width: 500px){
        width: 350px;
    }

    @media (max-width: 400px){
        width: 300px;
    }
}

.image__container {
    display: flex;
    justify-content: center;
}

.product__image {
    height: 180px;
    width: 100%;
    border-radius: 4px;
}

.product__info {
    p{
        margin-bottom: 8px;
    }

    .info__price {
        font-weight: bold;
    }

    .info__name {
        font-size: 1rem;
        overflow: hidden;
    }
    
    .info__description {
        font-size: 0.75rem;
    }
    
    .info__button {
        display: block;
        width: 100%;
        text-decoration: none;
        text-align: center;
        color: var(--black-color);
        background-color: var(--lightGray-color);
        padding: 8px 16px;
        border:1px solid var(--black-color);
        font-size: 1rem;
    }
    
    .info__button:hover {
        background-color: var(--black-color);
        color: var(--white-color);
    }
}