.sidedrawer{
    width: 70%;
    height: 100vh;
    background-color: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;

    transform: translate(-100%);
    -webkit-transition: all .3s ease-in-out;
}

.sidedrawer.show {
    transform: translate(0%);
}

.sidedrawer__links {
    flex-direction: column;
    list-style: none;
}

.sidedrawer__links > li {
    width: 100%;
    display: flex;
    align-items: center;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex: 1;
        padding: 1rem;
        text-decoration: none;
        color: var(--black-color);
        font-size: 1.6rem;

        span{
            display: flex;
            align-items: center;
            margin-left: 8px;
        }
    }
    :hover{
        background: var(--black-color);
        color: var(--white-color);

        .sidedrawer__cartbadge{
            background-color: var(--white-color);
            color: var(--black-color);
        }
    }
}

.sidedrawer__cartbadge {
    justify-content: center;
    text-align: center;
    font-size: 19px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--black-color);
    color: var(--white-color);
}
