.Editcontainer {
    width: 80%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 6px;
    background-color: var(--white-color);
    box-shadow: 0px 0px 2.5px rgba(15, 15, 15, 0.19);

    .formcontainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        
        button {
            width: 100%;
            padding: 11px 40%;
            margin-top: 1.6rem;
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            border: none;
            border-radius: 100px 100px 100px 100px;
            cursor: pointer;
            transition: all, 240ms ease-in-out;
            background: var(--secondary-color);
            background: linear-gradient(
                58deg,
            rgba(232,67,147,1) 10%, 
            rgba(123,44,191,1) 100%
            );
            &:hover {
              filter: brightness(1.1);
            }
        }

        label{
          margin-top: 20px;
        }

        input {
            width: 100%;
            height: 42px;
            outline: none;
            margin-top: 10px;
            box-shadow: 0px 0px 2.5px rgba(15, 15, 15, 0.19);
            border: 1px solid rgba(200, 200, 200, 0.3);
            padding: 0px 10px;
            border-bottom: 1.4px solid transparent;
            transition: all 200ms ease-in-out;
            font-size: 12px;
            &::placeholder {
              color: rgba(200, 200, 200, 1);
            }
            &:not(:last-of-type) {
              border-bottom: 1.5px solid rgba(200, 200, 200, 0.4);
            }
            &:focus {
              outline: none;
              border-bottom: 2px solid var(--secondary-color);
            }
        }
    }
}